body {
	font-family: Verdana, sans-serif;
}

.header {
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
}

.summary {
	text-align: center;
	font-size: 16px;
	font-style: italic;
}

.versioninfo {
	text-align: center;
	font-size: 14px;
}

.screenshot {
	text-align: center;
	padding: 40px;
}

img {
	border-radius: 0.5%;
}

.passage {
	margin-left: 220px;
	margin-right: 220px;
}

.passagec {
	padding-top: 27px;
	margin-left: 220px;
	margin-right: 220px;
	text-align: center;
}

.footer {
	text-align: center;
	color: gray;
	bottom: 5px;
	padding-top: 40px;
}

